<div class= "container col-md-8">


<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all, prompt: "Select a movie" %>
  <%= f.input :comment %>
  <%= f.button :submit,  class: 'btn btn-secondary' %>
<% end %>

</div>
